<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hub</title>
    <link rel="stylesheet" type="text/css" media="screen"  href="../../../static/styles/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap" rel="stylesheet">
    {% block css%}
    
    {% endblock css%}
</head>
<body>  
        <div>
        {% include 'main/navbar.html' %}
        </div>

        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>  
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}


        {% block content %}
            
        {% endblock %}
    <script src="../../../static/styles/js/bootstrap.js"> </script>
</body>
</html>