{% extends 'main/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<section class="vh-100" style="background-image: url('../../../static/images/overlay.png') ,url('../../../static/images/banner.jpg') ; color: #fff;">
   
<div class= 'container py-5 h-100"'>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">   
        <form enctype="multipart/form-data" method="POST" action="" class="row g-3">
            {% csrf_token %}         
            <div class="col-md-6">
                <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                <input type="text" id="name" class="form-control" name="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col-md-6">
                <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
                <input type="text" id="description" class="form-control" name="description" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col-md-4">
                <label for="carId" class="form-label">Car to sell</label>
                <select  name="carId" id="carId" class="form-select" >
                <option value="" selected="selected">Choose a Car</option>
                    {% for car in cars%}
                    <option>{{car}}</option>
                    {%  endfor %}
                 </select>
                {% if length < 1 %}
                <a href="{% url 'service'%}"  class="btn btn-primary"> Add Car</a> 
                {%endif%}
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="avatar">Upload</label>
                <input type="file" class="form-control" name="avatar" accept="image/*">
              </div>
            
 
            <input type="submit" class="btn btn-primary" value = "Sumbit"/>

        </form>

    </div>
</div>
</div>
</section>

{% endblock %}